{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <title>QNA-Home</title>
</head>

<body>
  <div class="header1">
    <div class="header-left">
      <img src="/static/images/icon-q.png" alt="">
      <div class="header-search">
        <i class="material-icons">
          search
        </i>
        <input type="text" placeholder="search">
      </div>
    </div>
    <div class="header-right">
      <div class="head-option">
        <i class="material-icons header-option-icon">
          home
        </i>
        <h3>Home</h3>
      </div>
      <div class="head-option">
        <i class="material-icons header-option-icon">
          view_timeline
        </i>
        <h3>Timeline</h3>
      </div>
      <div class="head-option">
        <i class="material-icons header-option-icon">
          rocket_launch
        </i>
        <h3>Space</h3>
      </div>
      <div class="head-option">
        <i class="material-icons header-option-icon">
          notifications
        </i>
        <h3>Notification</h3>
      </div>
      <div class="head-option">
        <i class="material-icons header-option-icon">
          settings
        </i>
        <h3>Settings</h3>
      </div>
    </div>
  </div>
  <div class="body-main">
    <div class="sidebar">
      <div class="sidebar-top">
        <img
          src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080"
          alt="">
        <i class="material-icons sidebar-avatar">
          account_circle
        </i>
        <h2>UserName</h2>
      </div>
      <div class="sidebar-status">
        <div class="sidebar-stat">
          <p>Followers</p>
          <p class="sidebar-stat-no">0</p>
        </div>
        <div class="sidebar-stat">
          <p>Following</p>
          <p class="sidebar-stat-no">0</p>
        </div><br>
        <div class="sidebar-st">
          <a class="edit" href="">Edit Profile</a>
        </div>
      </div>
      <div class="sidebar-bottom">
        <div class="sidebar-item">
          <span class="sidebar-hash">#</span>
          <p>Add_Employment</p>
        </div>
        <div class="sidebar-item">
          <span class="sidebar-hash">#</span>
          <p>Add_Education</p>
        </div>
        <div class="sidebar-item">
          <span class="sidebar-hash">#</span>
          <p>Add_Location</p>
        </div>
        <div class="sidebar-item">
          <span class="sidebar-hash">#</span>
          <p>Add_Language</p>
        </div>
        <div class="sidebar-item">
          <span class="sidebar-hash">#</span>
          <p>Add_Interest</p>
        </div>
      </div>
    </div>

    <div class="feed">
      <div class="feed-input-container">
        <div class="feed-input">
          <i class="material-icons">create</i>
          <form>
            <input type="text" placeholder="Write whatever you want">
            <button>POST</button>
          </form>
        </div>
        <div class="feed-input-option">
          <div class="input-option">
            <i class="material-icons">
              public
            </i>
          </div>
        </div>
      </div>
      <div class="feed-bottom">
        {% block content %} {% endblock %}
      </div>
    </div>
    

    <div class="widgets">
      <div class="widgets-header">
        <h2>My Space</h2>
      </div>
         <div class="widgets-article">
          <div class="widgets-articles-left">
            <i class="material-icons">fiber_manual_record</i>
          </div>
          <div class="widgets-articles-right">
            <h4>HTML</h4>
          </div>
        </div>
          <div class="widgets-article">
          <div class="widgets-articles-left">
            <i class="material-icons">fiber_manual_record</i>
          </div>
          <div class="widgets-articles-right">
            <h4>CSS</h4>
          </div>
        </div>
          <div class="widgets-article">
          <div class="widgets-articles-left">
            <i class="material-icons">fiber_manual_record</i>
          </div>
          <div class="widgets-articles-right">
            <h4>BOOTSTRAP</h4>
          </div>
        </div>
          <div class="widgets-article">
          <div class="widgets-articles-left">
            <i class="material-icons">fiber_manual_record</i>
          </div>
          <div class="widgets-articles-right">
            <h4>JAVASCRIPT</h4>
          </div>
        </div>
          <div class="widgets-article">
          <div class="widgets-articles-left">
            <i class="material-icons">fiber_manual_record</i>
          </div>
          <div class="widgets-articles-right">
            <h4>DJANGO</h4>
          </div>
        </div>
          <div class="widgets-article">
          <div class="widgets-articles-left">
            <i class="material-icons">fiber_manual_record</i>
          </div>
          <div class="widgets-articles-right">
            <h4>PYTHON</h4>
          </div>
        </div>
          <div class="widgets-article">
          <div class="widgets-articles-left">
            <i class="material-icons">fiber_manual_record</i>
          </div>
          <div class="widgets-articles-right">
            <h4>SQLITE</h4>
          </div>
        </div>
    </div>
  </div>
</body>

</html>