{% extends 'user/master.html' %}
{% load static %}
{% block content %}


<div class="center-container">
    <h1>Notification</h1>
    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>

<div class="center-container">

    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">

    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">

    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">

    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">
    
    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">
    
    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">
    
    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">
    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div class="center-container">
    <div class="post">
        <div class="post_avatar">
            <img src="/static/user_static/images/caz.jpeg" alt="">
        </div>
        <div class="post_body">
            <div class="post_header">
                <div class="posttext">
                    <h3>user
                    </h3>
                </div>
                <div class="post_header">
                    <p>commented on your post</p>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
{% endblock %}